@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: black;
}

.brand {
    margin-left: 10px;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand h1 {
    font-size: 2rem;
    color: white;
}

.brand span {
    color: crimson;
}

.nav-bar {
    width: 30rem;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.nav-bar ul, li, a {
    padding: 20px;
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-bar a:hover {
    color: crimson;
    transition: .3s ease;
}

.menu-btn {
    display: none;
}

@media only screen and  (max-width: 600px) {

    .brand {
        width: 10rem;
    }
    
    .brand h1{
        font-size: 1.5rem;
    }

    .nav-bar {
        display: none;
    }

    /* nav {
        width: 50vw;
        height: 100vh;
    }

    .nav-bar {
        margin-left: 2em;
        width: 20vw;
        justify-content: center;
        flex-direction: column;
    }

    .nav-bar ul, li, a {
        font-size: 2rem;
    } */

    .menu-btn {
        position: absolute;
        right: 1em;
        display: block;
        background: url(./img/hamburger.png) no-repeat;
        background-size: 50px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: .5s ease;
    }
    .menu-btn.active {
        right: 1em;
        position: absolute;
        z-index: 999;
        background: url(./img/xcon.png) no-repeat;
        background-size: 30px;
        background-position: center;
        transition: .5s ease;
    }

    .nav-bar.active {
        position: absolute;
        display:block;
        background-color: rgb(48, 48, 48);
        width: 65vw;
        height: 100vh;
    }

    .nav-bar ul, li, a.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
    }
}
